a {
    color: #0a0a0a;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    svg {
        width: 35%;
        display: block;
        margin: 0 auto;
    }

    #description {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    #coming-soon {
        width: 35%;
        display: block;
        margin: 0 auto;
    }
}
