svg {
    width: 50% !important;
    display: block;
    margin: 0 auto;
}

#description {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#coming-soon {
    width: 40%;
    display: block;
    margin: 0 auto;
}